:root {
  --color-dark-green: #283020;
  --color-light-green: #79864c;
  --color-umber: #766153;
  --color-pale: #c6c793;
  --color-beige: #e0e0c3;
  --color-saltpan: #edeff1;
  --color-blue-pale: #edeff1;
  --color-candy-pink: #dd7474;
  --color-firebrick: #ac2020;
  --color-black: #1a1a1a;
  --color-jet: #333333;
  --color-spanish-gray: #9a9a9a;
  --color-white-smoke: #f0f0f0;
  --color-white: #ffffff;
  --color-blue-0: #bfdce6;
  --color-blue-1: #89c2d9;
  --color-blue-2: #61a5c2;
  --color-blue-3: #468faf;
  --color-blue-4: #2c7da0;
  --color-blue-5: #2a6f97;
  --color-blue-6: #014f86;
  --color-blue-7: #01497c;
  --color-blue-8: #013a63;
  --color-blue-9: #012a4a;
  --color-blue-10: #062136;
  --color-kombu-green: #373d20;
  --color-spanish-bistre: #717744;
  --color-sage: #bcbd8d;
  --color-beige: #e0e0c3;
  --color-saltpan: #eff1ed;
}
