.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .calc_container {
    width: 320px;
    height: 500px;
    background-color: #222127;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .input_area {
      width: 260px;
      height: 80px;
      margin: 10px 0 20px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      user-select: none;
      background-color: rgb(223, 223, 219);
      border-radius: 5px;
      .calc_area {
        width: 260px;
        height: 40px;
        font-size: 20px;
        text-align: end;
        padding: 0 20px;
        box-sizing: border-box;
        // border-bottom: 0.5px solid #999;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 0.3s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.hide {
          height: 0;
          overflow: hidden;
          opacity: 0;
        }
      }
      .input_tag {
        width: 260px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: end;
        // background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 0.3s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.result_show {
          font-size: 30px;
          height: 40px;
        }
      }
    }
    .btn_area {
      display: flex;
      box-sizing: border-box;
      .func_btn_area {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        .btn {
          width: 50px;
          height: 50px;
          background-size: 40%;
          background-repeat: no-repeat;
          background-position: center;
          //   padding: 10px;
          margin: 10px;
          box-sizing: border-box;
          //   border: 1px solid #333;
          border-radius: 5px;
          background-color: #999999;
          transition: 0.3s;
          cursor: pointer;
          user-select: none;
          font-size: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: #777777;
          }
          &.disable {
            pointer-events: none;
            cursor: initial;
            background-color: #ccc;
          }
          &.btn_reset {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
          }
          &.btn_backspace {
            background-size: 50%;
            background-image: url("./image/backspace.svg");
          }
          &.btn_addition {
            background-image: url("./image/plus.svg");
          }
          &.btn_subtraction {
            background-image: url("./image/minus.svg");
          }
          &.btn_multiplication {
            background-image: url("./image/times.svg");
          }
          &.btn_division {
            background-image: url("./image/divide.svg");
          }
          &.btn_equals {
            background-image: url("./image/equals.svg");
          }
        }
      }
      .number_btn_area {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 0;
        flex-direction: column;

        .row {
          display: flex;
          justify-content: center;
        }
        .number_btn {
          width: 50px;
          height: 50px;
          min-width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-position: center;
          margin: 10px;
          box-sizing: border-box;
          border-radius: 5px;
          background-color: #999999;
          font-size: 24px;
          transition: 0.3s;
          cursor: pointer;
          user-select: none;
          &:hover {
            background-color: #777777;
          }
          &.disable {
            pointer-events: none;
            cursor: initial;
            background-color: #bbb;
          }
          &.btn_equals {
            width: 50px;
            height: 50px;
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("./image/equals.svg");
          }
        }
      }
    }
  }
  .audio_play {
    .square1 {
      width: 50px;
      height: 50px;
      background-color: #c7c7c7;
      transition: 0.5s;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
  }
}
